/* */
body
{
    @extend %no-start-margin-and-padding;
    background-color: #dbdbdb;
}

main 
{
    
    
}

#placeholder-footer
{
    margin: 0px;
    padding: 0px;
}

.page-front-image
{
    width: 100%;
    height: 580px;
}

.page-front-image img
{
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
    background-size:contain;

}

.cover
{
    background-image: linear-gradient(to right top,#D31027,  #EA384D);

    width: 100%;
    height: 520px;
    margin-bottom: 25px;
}

.dynamic_page
{
    width: 100%;

    background-color: white;

    background-image: linear-gradient(to left bottom, #fdfbfb ,  #ebedee);

    margin-top: 25px;
    margin-bottom: 25px;

    padding-top: 24px;
    padding-bottom: 36px;
    
    box-shadow: 4px 4px 8px rgba($color:black, $alpha: 0.025);

}

.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card
{
    
    @extend %ignore-select;

    display: block;

    margin-top:8px;
    margin-bottom: 16px;


    width:30%;
    height: 280px;

    background-color: #fdfbfb;

    box-shadow: 4px 4px 8px rgba($color:black, $alpha: 0.025);
    border-radius: 8px;
}

.card:hover p
{
    display: block;
}

.card p 
{
    display: none;

    font-family: 'Open sans';
    text-align: center;
    word-break: break-word;
    text-transform: uppercase;
}

.card-title
{
    font-weight: bold;

    color:#EA384D;
    font-size: 20px;

    margin: 0px;
    margin-top: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-description
{
    margin: 0px;
    margin-top: 8px;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;

}

.card:hover i 
{
    display: none;
}

.page_descriptor
{
    text-align: center;
    font-family: 'Open sans';
    width: 90%;

    margin:0px;
    margin-left:auto;
    margin-right: auto;
}

.page_descriptor_reference
{
    text-align: center;
    font-family: 'Open sans';

    font-weight: bold;
}

.page_title
{
    margin:0px;
    font-family: 'open sans';
    text-align: center;

    color: #e74c3c;

    font-size: 32px;

    font-weight: bold;
}

.card-logo
{
    text-align: center;
    color: #b2bec3;
    transition: 2s;
}

.card-logo i 
{
    margin-top: 68px;
    font-size: 128px;
}

.card-logo:hover
{
    color: #e74c3c;
    transition: 2s;
}

.block-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 6px;
    padding: 0px;
    margin:0px;
    margin-bottom: 32px;
}

.block
{
    grid-area: auto;
    display: block;
    margin:0;
    padding: 0px;

}

.block img
{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0px;

}