/* Define Area */
@import './scss/_include.scss';

//
%no-start-margin
{
    margin: 0px;
}

%no-start-margin-and-padding
{
    @extend %no-start-margin;
    padding: 0px;
}

.page-view
{
    
}

.page-front-image
{
    
}

body
{
    background-color: #eeeeee;
    
}

// include
@import './scss/header.scss';
@import './scss/footer.scss';

@import './scss/index.scss';
