/* Header Area */
header
{
    @extend %no-start-margin-and-padding;
    border-bottom: 1px solid gray;
}

.menu ol
{   
    @extend %no-start-margin-and-padding;

    float: left;

    margin-top: 12px;
    margin-bottom: 12px;

    list-style-type: none;

    display: flex;
    justify-content: center;
}


.menu a
{
    text-decoration: none;
    color: #b2bec3;
    transition: $time;
}

.menu a:hover
{
    transition: $time;
    color:#2d3436;
    
}

.menu a:active
{
    transition: $time;
    color:#e74c3c;
}

/* Button Area */
.button-container
{
    transition: $time;

    margin-left: 26px;
    margin-right: 26px;

    font-size: $menu-font-size;
    font-family: $font-stack-menu;

    text-transform: uppercase;
    font-weight: bold;
}

.button-container li
{
    display: flex;
    
    transition: $time;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top: 2px solid #b2bec3;

    justify-content : center;
    flex-direction  : row;
    flex-wrap       : wrap;
}

.button-container:hover li 
{
    border-top: 2px solid #2d3436;
}

.button-container:active li 
{
    border-top: 2px solid #e74c3c;
}

.button-container li div
{
    display: block;
}

#menu-header-selected
{
    border: 2px solid #e74c3c;
    color:#e74c3c;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#menu-header-selected:hover
{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.button-container
{

}

.button-container:first-child
{
    
}

.button-container:last-child
{
    
}

.frame
{
    text-align: center;
}

.frame-logo
{
    margin-right: 6px;
    margin-left: 12px;
}

.frame-descriptor
{
    margin-left: 6px;
    margin-right: 12px;
    

}

.header-logo
{
    
}