/* Header Area */
header
{
    @extend %no-start-margin-and-padding;
    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns:100px auto 100px;

    grid-gap: 16px;

    border-bottom: 1px solid gray;
}

.menu ol
{   
    @extend %no-start-margin-and-padding;

    float: left;

    margin-top: 16px;
    margin-bottom: 12px;

    width: 100%;

    list-style-type: none;

    display: flex;
    justify-content: space-around;
}

.menu a
{
    text-decoration: none;
    color: #b2bec3;
    transition: $time;
}

.menu a:hover
{
    transition: $time;
    color:#2d3436;
    
}

.menu a:active
{
    transition: $time;
    color:#e74c3c;
}

.menu-header-navigation-button
{
    color: #b2bec3;
    font-size: 25px;
    text-align: center;
}

.menu-nav-icon
{
    width: 25px;
    margin-right: auto;
    margin-left: auto;
}

.header-nav-bar
{
    padding-top: 16px;
    padding-bottom: 12px;

}

.navigation-frame
{

}

.menu-header-navigation-button:hover
{
    
    transition: $time;
    color:#2d3436;
}

/* Button Area */
.button-container
{
    transition: $time;

    margin-left: 26px;
    margin-right: 26px;

    font-size: $menu-font-size;
    font-family: $font-stack-menu;

    text-transform: uppercase;
    font-weight: bold;
}

.button-container li
{
    display: grid;
    
    grid-template-columns: auto auto;
    grid-gap: 0px;

    transition: $time;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top: 2px solid #b2bec3;

}

.button-container li span
{
    grid-area: auto;
    
}

.button-container:hover li 
{
    border: 2px solid #2d3436;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    
    transition: $time;
    

}

.button-container:active li 
{
    border: 2px solid #e74c3c;
    
    transition: $time;
}

.button-container li div
{
    display: block;
}

#menu-header-selected
{
    border: 2px solid #e74c3c;
    color:#e74c3c;

    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#menu-header-selected span
{
    display: block;
}

#menu-header-selected:hover
{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.frame
{
    text-align: center;
}

.frame-logo
{
    grid-area: auto;
    margin-right: 12px;
    margin-left: 12px;
}

.frame-descriptor
{
    margin-left: 6px;
    margin-right: 12px;
    

}

.header-logo
{
    
}