<li>
        <div class="border">
            <a href="#">
                <ol class="song-individual">
                    <div class="song-container">
                        
                            <div class="placement-container">
                        <div class="song-status">
                            <div class="playable-song">
                                <i class="fas fa-music">
                                </i>
                            </div>
                            <div class="play">
                                <i class="fas fa-play">
                                </i>
                            </div>
                        </div>
                            <h4 class="song-name">
                                Money, Money, Money 
                            </h4>
                            <span class="duration">
                                    3.06m.
                            </span>
                        </div>
                    </div>
                    <span class="album-alignment">
                        <li class="album-name">
                            ABBA Gold
                        </li>
                        <li class="album-release">
                            1976
                        </li>
                        <li class="album-genre">
                            Pop
                        </li>
                        <li class="album-singer">
                            ABBA
                        </li>
                    </span>
                </ol>
            </a>
        </div>
    </li>