$font-stack: helvetica, sans-serif;

// color scheme - Active
$primary-color: red;
$secondary-color: blue;
$tertiary-color: green;

// color scheme - Passive
$background-color: #eeeeee;
$highlight-color: #eeeeee;

// Body

body
{
    font: 100% $font-stack;
    
}