$font-stack: helvetica, 
             sans-serif;

// Passive Components / Panels
$secondary-color-light: #5472d3;
$secondary-color-dark: #002171;

// Active Components / buttons, etc.
$tertiary-color-light: #00b248 ;
$tertiary-color-dark:#66ffa6;

// color scheme - Passive
$background-color: #212121;

// color scheme - font
$primary-color: #ffffff;


// Body

body
{
    font: 100% $font-stack;
    
}

.center
{
    margin: auto;
    margin-top:30px;
    
    width: 1282px;
    height: 722px;
}

#dashboard
{
    margin:auto;
    border:2px solid black;
}